<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuite name="Application Test Suite">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
    <!--<logging>
        <log type="coverage-html" target="./CodeCoverage/"/>
    </logging>-->
</phpunit>